img
{
    height:80px;
    width:80px;
    border-radius:50%
}
h1{
    font-size: 50px;
    text-align: center;
}
ul,li{
    display: inline-block
}
ul,li,a{

    text-decoration:none;
    margin:5px;
    color:Black
}
.nav{
   background:darkgray;
   margin-bottom:30px
}

.container li a{

    text-decoration: none;
    text-align:center;
    color:black;
    background:silver;
    padding:10px;
    border-radius:5px
}

